 <div class="row">
  <div class="col-md-6">
    <a routerLink="" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> home</a>
  </div>
  <div class="col-md-6">

  </div>
</div> 

<div class="card">
  <div class="card-header">
    ДОБАВИ ШЕГА
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">  
      <div class="form-group">
        <label for="text">Текст на шегата</label> 
        <textarea
          class="form-control"
          id="textid" rows="3"
          name="text"
          [(ngModel)]="joke.text"
          minlength="50" maxlength="600"
          #text="ngModel" required>
        </textarea>  
      </div>
      <br>
      <input type="submit" class="btn btn-primary btn-block" value="Submit"> 
    </form>
  </div>
</div>